body {
  background-color: #D3F6F3;
  margin: 0;
  padding-bottom: 1000px;
}

h1 {
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 0;
  color: #BB7171;
  text-align: center;
  font-size: 225%;
}

span:hover {
  color: white;
}

.header {
  padding: 1px;
  text-align: center;
  background: #fee9b2;
  color: #BB7171;
  font-size: 30px;
  border-bottom-style: ridge;
  border-bottom-width: 10px;
  border-bottom-color: #FBD1B7;
  height: 290px;
  font-family: 'Ewert', cursive;
}

.burn {
  text-align: center;
  padding-right: 10px;
  margin-top: 0;
}

p {
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  top: -100px;
}

a {
  text-decoration: none;
  color: #BB7171;
}

.flags {
  height: 110px;
  width: 24.75%;
  top:-100px;
}
.glow {
  font-size: 30px;
  color: #BB7171;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b1e8ed, 0 0 40px #b1e8ed, 0 0 50px #b1e8ed, 0 0 60px #b1e8ed, 0 0 70px #b1e8ed;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fa8282, 0 0 40px #fa8282, 0 0 50px #fa8282, 0 0 60px #fa8282, 0 0 70px #fa8282, 0 0 80px #fa8282;
  }
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.dempic {
  border-radius: 100%;
  position: relative;
  margin-left: 10px;
  height: 310px;
}
a {
  text-align: center;
}
.ree {
  position: relative;
  margin-left: 10px;
  height: 20%;
  width: 20%;
}
.middle-container {
  font-family: 'Eczar', serif;
  text-align: center;
  color: grey;
  font-size: 1.25rem
}
.bottom-container {
  text-align: center;
  font-family: 'Eczar', serif;
  color: grey;
  min-height: 100;
  padding-top: 0;
}
hr {
  border-style: dashed;
  border-color: #FBD1B7;
  width: 10%;
	height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-12.png) repeat-x 0 0;
    border: 0;
}
.uwu {
  font-size: 1.25rem;
  padding-top: 4px;
}
.dee {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}
.bee {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #FBD1B7, #fcb1b1);
  background-image: -moz-linear-gradient(top, #FBD1B7, #fcb1b1);
  background-image: -ms-linear-gradient(top, #FBD1B7, #fcb1b1);
  background-image: -o-linear-gradient(top, #FBD1B7, #fcb1b1);
  background-image: linear-gradient(to bottom, #FBD1B7, #fcb1b1);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family:  'Eczar', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #fff0f0, #ffcece);
  background-image: -moz-linear-gradient(top, #fff0f0, #ffcece);
  background-image: -ms-linear-gradient(top, #fff0f0, #ffcece);
  background-image: -o-linear-gradient(top, #fff0f0, #ffcece);
  background-image: linear-gradient(to bottom, #fff0f0, #ffcece);
  text-decoration: none;
}
.miao {
  color: #fcb1b1;
}
.meow {
  color: #BB7171;
}
.message {
  width: 40%;
  margin: 40px auto 60px;
}
.bottom-container {
  background-color: #fee9b2;
  padding: 50px 0 20px 0;
}
body {
  max-height: 1000px;
}
.footer-link {
  margin: 10px 30px;
}
.phoenix {
  top: -40px;
  position: relative;
  padding: 0
}
.udemy {
  top: -45px;
  position: relative;
  padding: 0
}
.roblox {
  top: -15px;
  position: relative;
  padding: 0
}
footer {
  padding-top: 4px;
}
